<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joush.mapper.CityMapper">

    <!--  使用自增主键, 会返回自增的 id 值  -->
    <insert id="saveCity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO city (name, state, country)
        VALUES (#{name}, #{state}, #{country})
    </insert>
</mapper>