<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCDemo04FileUploadServer:war">
    <output-path>$PROJECT_DIR$/SpringMVC/SpringMVCDemo04FileUploadServer/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVCDemo04FileUploadServer</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVCDemo04FileUploadServer-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCDemo04FileUploadServer:war exploded" />
    </root>
  </artifact>
</component>