<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCDemo02Response:war">
    <output-path>$PROJECT_DIR$/SpringMVC/SpringMVCDemo02Response/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVCDemo02Response</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVCDemo02Response-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCDemo02Response:war exploded" />
    </root>
  </artifact>
</component>