<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCDemo01Introduce:war">
    <output-path>$PROJECT_DIR$/SpringMVC/SpringMVCDemo01Introduce/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVCDemo01Introduce</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVCDemo01Introduce-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCDemo01Introduce:war exploded" />
    </root>
  </artifact>
</component>