<component name="ArtifactManager">
  <artifact type="war" name="SpringBootSecurityDemo01:war">
    <output-path>$PROJECT_DIR$/SpringSecurity/SpringBootSecurityDemo01/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringBootSecurityDemo01</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="spring-boot-security-0.0.1-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringBootSecurityDemo01:war exploded" />
    </root>
  </artifact>
</component>