<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCDemo06Interceptor:war">
    <output-path>$PROJECT_DIR$/SpringMVC/SpringMVCDemo06Interceptor/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVCDemo06Interceptor</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVCDemo06Interceptor-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCDemo06Interceptor:war exploded" />
    </root>
  </artifact>
</component>