<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCDemo03FileUpload:war">
    <output-path>$PROJECT_DIR$/SpringMVC/SpringMVCDemo03FileUpload/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>SpringMVCDemo03FileUpload</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="SpringMVCDemo03FileUpload-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringMVCDemo03FileUpload:war exploded" />
    </root>
  </artifact>
</component>